* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    width:100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #f0efeb;
}

/* Left section of the page */
.left-section {
    display: flex;
    width: 30%;
    height: 100%;
    background: url(../assets/sand2.png) no-repeat center;
    background-size: cover;
    align-content: center;
    justify-content: center;
}

.img {
    color: white;
    margin-top: auto;
    margin-bottom: 10px;
}

a {
    color: inherit;
}


/* Right section of the page */
.right-section {
    padding: 3%;
    width: 70%;
    height: 100%;
}


/* Form */
.form-section {
    background: white;
    margin-top: 50px;
    padding: 25px;
    border-radius: 6px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.form-header {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 25px;
}

form .container{
    display: flex;
    flex: 1;
    margin-bottom: 20px;
}


label, input {
    display: flex;
    flex-direction: column;
}

label {
  position: relative;
  width: 15rem;
  font-size: 15px;
  font-weight: bold;

}

input {
    padding: 8px 10px;
    border-radius: 5px;
    border: .5px solid lightgray;
    font-size: .9rem;
    margin-top: 3px;
}

/* Button styling from Stripe */
.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
}

.button-9:disabled {
    cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


